@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.app{
    font-family: 'Lora', serif;
    .link{
        color: inherit;
        text-decoration: none;
    }
}