.featuredProducts{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bottom{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        margin-top: 20px;
       
    }

    @media (max-width:1024px){
          .bottom{
            display: grid;
            grid-template-columns: repeat(2,1fr);
          }
    }

    @media (max-width:767px) {
        .bottom{
            grid-template-columns: 1fr;
        }

        .top{
            font-size: 14px;
            font-weight: 200;
            text-align: center;
        }
    }
}