.slider {
    height:calc(100vh - 80px);
    width: 100%;
    position: relative;
    overflow-y: hidden;
    .container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Zara_Logo.svg/800px-Zara_Logo.svg.png?20190222225032");
            z-index: -1;

        animation: slideBackground 20s linear infinite;

        @keyframes slideBackground {
            0% {
                background-position: 0 0;
            }

            50%{
                background-position: -100% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    }
    
    .imageContainer{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
           object-fit: contain;
           margin-left: 180px;
           width: 1000px;
           height: calc(100vh - 80px);
        }
    }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            z-index: 1;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.9);
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s;
            border: 1px solid #fff;
    
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
    
            &.slick-prev {
                left: 5%;
            }
    
            &.slick-next {
                right: 5%;
            }
        }
    
}

