.contact{
    background-color: #2879fe;
    color: #fff;
    padding: 15px 0px;
    display: flex;
    justify-content: center;

    .wrapper{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
            outline: none;
        }

        button{
            border-radius: 0 5px 5px 0;
            border: none;
            padding: 10px;
            cursor: pointer;
            color: #fff;
            background-color: #333;
        }

        .icons{
            display: flex;
            gap: 10px;
        }
    }

    @media (max-width:1024px) {
        .wrapper{
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }
    }

    @media (max-width:767px) {
        .wrapper{
            width: 70%;
        }
    }
}