.navbar{
    height: 80px;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        color: #000;

        .item{
            display: flex;
            align-items: center;
            font-size: 16px;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .center{
            font-size: 35px;
            letter-spacing: 5px;
            transform: translateX(-30px)
        }

        .right {
            display: flex;
            align-items: center;
            
            .icons{
                display: flex;
                gap: 20px;
                color: #777;
                cursor: pointer;
                font-size: 18px;

                .cart{
                    position: relative;

                    span{
                        font-size: 12px;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: #2879fe;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
     }
}



