.navbar{
    height: 80px;
    

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        color: #000;

        .Menu-btn{
            display: none;

            button{
                margin-right: 30px;
                margin-left: -20px;
                background-color: #fff;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        

        .item{
            display: flex;
            align-items: center;
            font-size: 16px;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 12px;
        }


        .center{
            font-size: 35px;
            letter-spacing: 5px;
            transform: translateX(-30px)
        }

        .right {
            display: flex;
            align-items: center;
            
            .icons{
                display: flex;
                gap: 20px;
                color: #777;
                cursor: pointer;
                font-size: 18px;

                .cart{
                    position: relative;

                    span{
                        font-size: 12px;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: #2879fe;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
     }

         @media (max-width: 1023px){

            .wrapper{
                padding-top: 20px;
                position: relative;

                .left{
                    display: none;
                }
                .left-mobile{
                    position: absolute;
                    display: block;
                    left: 0px;
                    top: 80px;
                    transition: all 0.5s ease-out;
                    width: 100%;
                    z-index: 3;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    
                    .item{
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
                .Menu-btn{
                    display: block;
                    z-index: 4;
                }
                .center{
                    font-size:30px;
                }
                .right{
                    .icons{
                        font-size: 12px;
                    }
                }
                
            }
         }

         
}



